@page "/"
@namespace AccountingSystemHW6.Pages

<h1 class="display-4">Accounting System</h1>
<p><a asp-page="/Categories/Index" href="/Categories">Manage Categories</a></p>
<p><a asp-page="/Purchases/Index" href="/Purchases">Manage Purchases</a></p>